
<!DOCTYPE html>
<htmt lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Oderman{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Піцерія "Oderman"</h1>
        <nav>
            <ul>
                <li><a href="/">Головна</a></li>
                <li><a href="/menu">Меню</a></li>
            </ul>
        </nav>
        {% block content %}{% endblock %}
    </div>
</body>
</htmt>